@import 'variables';
@import 'mixins';

.search-results-info {
  font-family: $display-family;
}

.search-result-cell {
  position: relative;
  height: 138px;
}

.search-result-content {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.thumbnail {
  display: inline-block;
  object-fit: cover;
  position: absolute;
}

.attribution {
  height: 3em;
}

.checkin, .uncheckin {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 30px;
  margin-top: 98px;
  z-index: 100;
  border: none;
  font-weight: bold;
  color: $primary;

  @include transition(0.22s);
}

.checkin {
  background-color: rgba(255, 255, 255, 0.7);
}

.checkin:hover {
  background-color: rgba(255, 255, 255, 1);
}

.checkin:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.checkin:disabled {
  background-color: rgba(255, 255, 255, 0.5);
}

.uncheckin {
  background-color: $accent-color;
  color: $primary-invert;
}

.uncheckin:hover {
  background-color: lighten($accent-color, 5%);
}

$dark-accent: darken($accent-color, 5%);

.uncheckin:active {
  background-color: rgba($dark-accent, 0.5);
}

.uncheckin:disabled {
  background-color: rgba($dark-accent, 0.5);
}
